body {
    color: #22343d;
    font-family: "Poppins", sans-serif;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
}
a {
    text-decoration: none;
}


h1,h2,h3,h4,p,img {
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    cursor: pointer;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* HEADER */
.header-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 19px 0;
    margin-bottom: 25px;
}
.navigation {
    display: flex;
}
.navigation-list {
    display: flex;
    gap: 30px;
}
.navigation-btns-list {
    display: flex;
    gap: 20px;
}
.navigation-list-item-link {
    line-height: 1.75;
    color: #22343d;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.navigation-list-item-link.product-link {
    font-weight: 600;
}

.navigation-list-logo-link {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}
.navigation-list-item-link:hover,
.navigation-list-item-link:focus
{
    color: #02897a;
}
.navigation-btn-singup,
.navigation-btn-singin{
    padding: 9px 24px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-btn-singin {
    border: 1px solid #bcd0e5;
    color: #173a56;
    background-color: #fff;
    min-width: 105px;
}
.navigation-btn-singup {
    border: transparent;
    background-color: #02897a;
    color: #fff;
    min-width: 113px;
}
.navigation-btn-singup:hover {
background-color: #07534a;
}
.navigation-btn-singin:hover {
    background-color: #d3dbd9;
}
/* HERO */


.hero-container {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-bottom: 100px;
}
.hero-title-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 465px;
}
.hero-title {
    max-width: 400px;
}
.hero-title-text-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.hero-btn-link-container {
    display: flex;
    gap: 30px;
    align-items: center;
}
.hero-btn {
    padding: 14px 42px;
    color: #fff;
    font-weight: 700;
    background-color: #02897a;
    border: none;
    border-radius: 4px;
    min-width: 178px;
    height: 53px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
    background-color: #07534a;
}
.hero-link {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    transition: transform 250ms ease-in-out;
}
.hero-link:hover {
    transform: scale(1.2);
}
.hero-title {
    font-size: 40px;
    line-height: 1.5;
}
.hero-text {
    font-size: 18px;
    line-height: 1.55;
}

/* FEATURES */

.feature-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    max-width: 500px;
    align-self: center;
}
.feature-list {
    display: flex;
    gap: 30px;
}
.feature-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}
.feature-btn {
    min-width: 175px;
    height: 54px;
    color: #fff;
    font-weight: 700;
    padding: 14px 30px;
    background-color: #02897a;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature-btn:hover {
    background-color: #07534a;
}
.feature-btn-container {
    font-weight: 700;
    display: flex;
    justify-content: center;

}
.feature-item-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
}
.feature-item-text {
    line-height: 1.62;
}
.cursor-container,
.lines-container,
.heart-container,
.sand-clock-container {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}
.cursor-container {
    background-color:#02897a;
}
.lines-container {
    background-color: #4d8dff;
}
.heart-container {
    background-color: #740a76;
}
.sand-clock-container {
    background-color: #f03e3d;
}

/* BENEFITS */

.benefits-list-item {
    display: flex;
    gap: 84px;
    align-items: center;
    margin-bottom: 100px;
}
.benefits-list-item:nth-child(even) {
    flex-direction: row-reverse;
}
.benefits-item-text,
.benefits-item-subtitle {
    line-height: 1.625;
    font-weight: 600;
}
.benefits-item-title {
    font-weight: 700;
    font-size: 32px;
}
.benefits-title-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 25px;
}
.benefits-item-descr {
    line-height: 1.625;
    margin-bottom: 30px;
}
.benefits-subtitle-descr-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.yellow-container,
.red-container,
.blue-container {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.yellow-container {
    background-color: #f90;
}
.red-container {
    background-color: #f03e3d;
}
.blue-container {
    background-color: #4d8dff;
}
.customer-support-list-item {
    display: flex;
    align-items: center;
    gap: 30px;
}
.customer-support-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* STAFF */

.staff-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}
.staff-text {
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
}
.staff-title-text-container {
    max-width: 542px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}
.staff-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    
}
.staff-list-item {
    max-width: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-basis: calc((100% - 91px) / 2);
}
.staff-btn {
    padding: 14px 30px;
    border: none;
    background-color: #02897a;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.staff-btn:hover {
background-color: #07534a;
}
/* NEWS FEED */

.feed-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
}
.feed-text {
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 40px;
    max-width: 465px;
}
.feed-list {
    display: flex;
    gap: 30px;
}
.feed-list-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    max-width: 350px;
    height: 359px;
    cursor: pointer;
}
.feed-item-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
}
.feed-item-text {
    line-height: 1.75;
    padding-left: 24px;
}
.feed-item-text-part {
    font-weight: 700;
}
.feed-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    padding-left: 27px;
}
.feed-list-item:hover .feed-item-title {
    color: #02897a;
}
.feed-container {
    margin-bottom: 171px;
}

/* PRICE */

.price-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
}
.price-text {
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}
.price-list {
    display: flex;
    gap: 72px;
    justify-content: center;
    align-items: center;
}
.price-container {
    margin-bottom: 100px;
}
.price-list-item {
    border-radius: 8px;
    width: 322px;
    height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.price-item-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.66667;
        margin-bottom: 8px;
}
.price-item-text {
    line-height: 2.5;
    margin-bottom: 16px;
}
.month-price-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}
.price-btn {
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    background-color: #02897a;
    color: #fff;
    transition: transform 250ms ease-in-out;
}
.price-btn:hover {
transform: scale(1.2);
}
.price {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}
.price-symbol {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
    text-align: left;
}
.price-per-month {
    font-family: "Montserrat", sans-serif;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}
.price-symbol-per-month {
    display: flex;
    flex-direction: column;
}
.month-price-text {
    display: flex;
    align-items: center;
    gap: 7px;
}
.price-list-item:hover {
    background-color: #02897a;
    color: #fff;
}
.price-list-item:hover .price,
.price-list-item:hover .price-symbol
{
    color: #fff;
}
.price-list-item:hover .price-per-month
{
    color: #e0e0e0;
}
 .price-list-item:hover .price-btn{
    background-color: #fff;
    color: #02897a;
 }

 /* FEEDBACK */

 .feedback-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    text-align: center;
 }
 .feedback-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 537px;
 }
 .feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
 }
 .feedback-title-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
 }
 .feedback-list {
    display: flex;
    gap: 64px;
 }
 .feedback-list-item {
    max-width: 327px;
    max-height: 240px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
    display: flex;
    flex-direction: column;
    gap: 16px;
 }
 .feedback-item-text {
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
 }
.feedback-client-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* PROMO */

.promo-container {
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background-color:#02897a;
    display: flex;
    padding-left: 51px;
    padding-right: 46px;
    gap: 10px;
    margin-bottom: 100px;
}
.promo.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-text {
    margin-top: 49px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;

}
.promo-text-btn-container {
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.promo-btn {
    padding: 10px 34px;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    color: #02897a;
    font-weight: 600;
    font-size: 20px;
    border: none;
    transition: transform 250ms ease-in-out;
}
.promo-btn:hover,
.promo-btn:focus {
    transform: scale(1.2);
}

/* FOOTER */

.foot {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;

}
.foot-logo-social-links-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-right: 146px;
}
.foot-social-list {
    display: flex;
    gap: 16px;
}
.foot-social-list-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-social-link {
    transition: transform 250ms ease-in-out;
}
.foot-social-link:hover,
.foot-social-link:focus
{
    transform: scale(1.2);
}
.foot-nav {
    display: flex;
    gap: 129px;
    margin-right: 83px;
}
.foot-nav-title,
.foot-input-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}
.foot-nav-title {
    margin-bottom: 8px;
}
.foot-nav-link {
    line-height: 2.1875;
    color: #22343d;
}
.foot-nav-link:hover,
.foot-nav-link:focus {
    color: #02897a;
}
.foot-input-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 325px;
}
.foot-input-title {
    max-width: 280px;
}
.foot-container {
    display: flex;
}
.foot-form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.foot-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #02897a;
    width: 131px;
    height: 39px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-btn:hover,
.foot-btn:focus {
    background-color: #07534a;
}
.foot-input {
    outline: transparent;
    border: 1px solid #bcd0e5;
    color: #22343d;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    padding-left: 36px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-input:focus {
    border-color: #02897a;
}

.foot-input::placeholder {
    line-height: 1.75;
    color: #02897a;
    padding-left: 4px;
}
.foot-input-container {
    position: relative;
}
.foot-input-img {
    position: absolute;
    top: 12px;
    left: 12px;
}